html,
body {
  margin: 0px;
  background-color: #2f4f30;
  color: white;
}


.titulo {
  text-align: center;
  background-color: black;
  padding: 2dvw;
  font-size: 4dvw;
}

.carta {
  /* position: relative; */
  width: 15%;
  max-width: 120px;
  min-width: 100px;
  /* left: 20dvw; */
  margin-left: -55px;
  /* border: 3px solid black; */
  border-radius: 0.4rem;
}

#jugador-cartas,
#computadora-cartas {
  height: 24dvw;
}